# Auto detect text files and perform LF normalization
* text=auto
<!DOCTYPE html>
<html>
    <head>
     <meta charset="UTF-8"
     <title>3D Printing Hobby</tile>
     </head>
<body>
     <h1>3D Printing as a Hobby</h1>
        <p>3D Printing as a Hobby used to be hard to get into, however </p>
    <h2>How to Get Started?</h2>
        <ol>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ol>
    <h3>What to Create?</h3>
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>